//COLORS
$color-darkGreen: #63a68d;
$color-lightGreen: #8abfac;
$color-darkPink: #f2ab9b;
$color-lightPink: #f2d1c9;
$color-light-grey: #f2f2f2;

// Color Theme in RGBA
$color-darkGreen-rgba: rgba(99, 166, 141, 1);
$color-lightGreen-rgba: rgba(138, 191, 172, 1);
$color-darkPink-rgba: rgba(242, 171, 155, 1);
$color-lightPink-rgba: rgba(242, 209, 201, 1);
$color-light-grey-rgba: rgba(242, 242, 242, 1);
